.MuiChip-root {
    height: 64px !important;
    border-radius:30px !important;
}
.member {
    display: flex;
    margin-top: 4px;
    /* max-width: 360px; */
    white-space:nowrap;
    overflow-x:scroll;
    padding-bottom: 20px;
}