.groupitem {
    height: 100px;
    margin-top:30px;
    margin-bottom:30px;
    position:relative;
    /* opacity: 0.5; */
    /* background-color: rgba(0, 0, 0, 0.1); */
}
.img {
    height:100px;
    filter:grayscale(30%);
}
.content {
    /* text-align: center; */
    top:0px;
    /* left:80px; */
    position:absolute;
    color:black;
    font-weight: bold;
    width: 100%;
}
.nogroup {
    color:aliceblue;
    font-size: 2rem;
}