.papercs {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  width:90%;
  height:75%;
  position:absolute;

}

.paperinner {
  margin-top: 40px;
}

.paperinner2 {
  margin-bottom: 40px;
}



/* 로그인 배경 */
.login-wrap{
  width: 100vw;
  height: 100vh;
  max-width: 412px;
  margin-left: auto;
  margin-right: auto;
  margin:auto;
/* max-width:360px;
  min-height:600px;   */
  position:relative;
  background:url("../../images/sky2.jpg") repeat center;
  /* box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19); */
}

.login-html{
    width:100%;
    height:100vh;
    position:relative;
    /* background:rgba(40,57,101,.9); */
  }

/* 로그인 특수문자 나오게 */
.MuiOutlinedInput-input {
    font-family: 'RIDIBatang' !important
  }

