/* 레터 이미지 가운데 정렬 */

.letimgmd {
    margin-top: 30px;
}

/* 위로 나타남 */
.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

/* 이미지 좌우로 움직이기 */

.tossing{
	animation-name: tossing;
	-webkit-animation-name: tossing;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
	0% {
		transform: rotate(-6deg);	
	}
	50% {
		transform: rotate(6deg);
	}
	100% {
		transform: rotate(-6deg);	
	}						
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-6deg);	
	}
	50% {
		-webkit-transform: rotate(6deg);
	}
	100% {
		-webkit-transform: rotate(-6deg);	
	}				
}

.letterbox {
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
}
.letterbox .lettercontent {
    margin-right:auto;
	width: 240px;
}

.lettercontent2 {
	position: absolute;
	margin: 20px 20px 20px 20px;
}

/* chip 색상 */

.MuiChip-outlined {
    background-color: #F4EBA8 !important;
}

/* chip 글씨 */
.MuiChip-root {
	color: black;
	font-weight: bold;
	font-size: 1rem !important;
}

/* chip 이모티콘 색상 */
/* .MuiChip-root {
	color: black;
}
 */

/* 달 카드 */
.night2
{
	position: relative;
	background:linear-gradient( to bottom right,rgba(63,81,181,1) 0%,
	rgba(171,71,188 ,1) 70%);
	box-shadow: 1px 1px 30px rgba(81,45,168 ,1);
	width: 100%;
    height: 150px;
	border-radius: 5px;
	margin-top: 30px;

}
.moon
{
	position: absolute;
	top:-10%;
	left:74%;
	width:70px;
	height: 70px;
	border-radius: 100%;
	background:rgba(255,241,118 ,1);
	box-shadow: 1px 1px 30px rgba(224,224,224 ,1);
}
.spot1
{
	position: absolute;
	top:6%;
	left:87%;
	width:10px;
	height: 10px;
	border-radius: 100%;
	background-color: #777;
}
.spot2
{
	position: absolute;
	top:20%;
	left:85%;
	width:5px;
	height: 5px;
	border-radius: 100%;
	background-color: #777;
}

.night2 li
{
	position: absolute;
	list-style: none;
	width: 3px;
	height: 3px;
	border-radius: 100%;
	background-color:#fff;
	
	
	transform: rotate(45deg);
}
.night2 li:nth-child(1)
{
	
top:30%;
left:71%;
}

.night2 li:nth-child(2)
{
top:21%;
left:62%;
}

.night2 li:nth-child(3)
{

opacity: 0;
top:20%;
left:75%;
width:2px;
height: 2px;
animation: meteor 1.5s infinite linear;
animation-delay: 0.6s;

}

.night2 li:nth-child(4)
{
top:5%;
left:68%;
}

.night2 li:nth-child(5)
{
	opacity: 0;
top:20%;
left:55%;
width:1px;
height: 15px;
animation: meteor 1.5s infinite linear;
}

@keyframes inex {


	50% {
	opacity: 0.4;

	}
	60%
	{
		opacity: 1;
	}
}
@keyframes move {


	50% {
	transform: translateX(-10px);

	}
}
@keyframes fall {
10%
{
	opacity:0.8;
}

	50% {
		opacity:1;
	transform: translate(-10px,30px);

	}
	100%
	{
		transform: translate(-25px,70px);

		
	}
}
@keyframes flash
{
	48%
	{
		background-color: rgba(96,125,139 ,1);
	}
	50%
	{
		background-color: #fff;
	}
	55%
	{
		background-color: rgba(96,125,139 ,1);
	}
	57%
	{
		background-color: #fff;	
	}
}
@keyframes meteor
{

10%
{opacity: 1;
}
80%	
{
left:10%;
top:75%;
opacity: 0;
}
}