.plusbtn {
  position: fixed;
  bottom: 90px;
  right: 20px;
}

.grouplist {
  width: 100vw;
  /* height: 100vh; */
  min-height: 100vh;
  max-width: 412px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12vh;
  /* padding-bottom: 100vh; */
  padding-bottom: 50px;
  background: url("../images/sky2.jpg") repeat center;
  color:aliceblue
}
