.GroupMember {
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
    align-items: center;
}

.GroupMember .GroupMember-title {
    margin-right:auto;
}

.GroupMember button {
    margin-left:4px;
}

.GroupDetail {
    /* margin-bottom: 80px; */
}

.trashnone .groupletter {
    display: none !important;
}

.grouplist {
    width: 100vw;
    /* height: 100%; */
    /* max-width: 412px; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 12vh;
    /* padding-bottom: 100vh; */
    background: url("../images/sky2.jpg") repeat center;
    color:aliceblue
}