.papercs {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  width:90%;
  height:80%;
  position:absolute;

}

.paperinner {
  margin-top: 40px;
}

.paperinner2 {
  margin-bottom: 40px;
}



/* 로그인 배경 */
.login-wrap{
  width:100%;
  margin:auto;
  max-width:360px;
  min-height:640px;
  position:relative;
  background:url("./images/우주1.jpg") repeat center;
  /* box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19); */
}

.login-html{
    width:100%;
    height:100%;
    position:absolute;
    /* background:rgba(40,57,101,.9); */
  }

/* 로그인, 회원가입 선택 */
.login-bt {
  color: black;
  border-color: #1161ee;
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
  display: none;
}


/* 입력 폼 */

.input-form{
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(211, 58, 58, 0.1);
  outline:none;
}

.input-form:focus{
  border-color:rgb(241, 169, 203);
  box-shadow:0 0 8px 0 rgb(241, 169, 203);
}

.button {
  background:#1161ee;
}


