.myimg{
    width:100px;
    height:100px;
    margin-right: 10px;
    background:url("./images/우주1.jpg") no-repeat center;
  }

/* 이미지 박스 */

.imgpop {
  float: left;
  margin-top: -40px;
  margin-right: 20px;
  margin-left: 10px;
}

.MuiCard-root {
  overflow: visible !important;
}
