.icon {
    width:3rem;
    height: 3rem;
}
.bottombar {
    background-color: coral;
    position:fixed;
    bottom: 0;
    /* display: flex; */
}
.makeStyles-nav-2 {
    background-color: pink !important;
}