.container {
    display: flex;
    /* flex-direction: row; */
    background-color: pink;
    /* place-items: center end; */
    justify-content: flex-end;
}
.item {
    margin-left: 1rem;
}

.MuiAppBar-colorPrimary {
    color: #dabaee !important;
    background-color: transparent !important; 
}
.MuiPaper-elevation4 {
    box-shadow: unset !important;
}

.bgnav {
    /* background-color: rgb(28, 19, 41) !important;
     */
    
    background: linear-gradient(
        to bottom,
        rgba(42, 9, 51, 0) 10%,
        rgba(42, 9, 51, 0.25) 25%,
        rgba(42, 9, 51, 0.5) 50%,
        rgba(42, 9, 51, 0.75) 75%,
        rgb(42, 9, 51,1) 100%
    ),
    url("pages/images/sky2.jpg") repeat center;
}