.container {
    display: flex;
    /* flex-direction: row; */
    background-color: coral;
    /* place-items: center end; */
    justify-content: flex-end;
}
.item {
    margin-left: 1rem;
}

.MuiAppBar-colorPrimary {
    color: pink !important;
    background-color: transparent !important; 
}
.MuiPaper-elevation4 {
    box-shadow: unset !important;
}